header {
	color: black;
	height: 20%;

}

article {
	font-size: 15px;	
	text-align: left;	
	font-family: 'Open Sans Condensed', sans-serif;

}

aside {
	background-color: gray;
	width: 50%;
	height: 20%;
	float: left;
}

footer {
	width: 50%;
	height: 20%;
	float: right;
}

h1 {
	margin: auto;
}


body { 
	margin: 0;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#logo {
	font-weight: bolder;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	text-align: center;	
	letter-spacing: -5px;
	float: left;
	width: 100px;
}

a {
	margin: auto;
	display: block;
	border: 0px black solid;
	text-decoration: none;
	text-align: center;
	color: gray;
}

a:active {

	color: rgba(#000, .85);
	text-align: center;
}

a:hover {

	display: inline-block;
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	
}

#top-header{
	width:100%;
	border-bottom: 5px black solid;
	position: fixed;
	height: 50px;
	background-color: #fff;
}

li {
	list-style-type: none;
	float: none;
}


#tagline {
	font-family: 'Open Sans Condensed', sans-serif;
	
}

article {
	font-size: 45px;	
	text-align: center;	
	font-family: 'Playfair Display', serif;

}	


section {
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Inconsolata', ;
font-family: 'Rock Salt', cursive;
font-family: 'Kristi', cursive;
font-family: 'Voltaire', sans-serif;
font-size: 50px;

}

nav {
	
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Magra', sans-serif;
font-family: 'Cantarell', sans-serif;
font-family: 'Marvel', sans-serif;
font-family: 'Rambla', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Nothing You Could Do', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

	font-size: 15px;
	float: left;
	margin-top: 12%;
/*border: 1px red solid; */
	text-transform: lowercase;
	text-align: center;
}

#main {
	padding-top: 100px;
	width: 70%;
	height: 800px;
	text-align: center;
	font-size: 16px;
	margin: auto;
}	

#about {
	padding-top: 100px;
	width: 100%;
	height: 800px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	margin: auto;
}	

#inspiration {
	padding-top: 100px;
	width: 60%;
	text-align: center;
	font-size: 16px;
	margin: auto;
}


#work {
	padding-top: 100px;
	width: 60%;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	margin: auto;
}	

#cv {
	padding-top: 100px;
	width: 50%;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	margin: auto;
}


#travel {
	padding-top: 100px;
	width: 50%;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 10px;
	margin: auto;
}

#contact {
	height: 500px;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	margin: auto;
	padding-top: 20px;

}	

/* ORIGINAL 

/*
BOLD ALL QUOTATION MARKS
.quotes {
	font-size: 150px;
	font-weight: bolder;
	font-style: italic;
}

.block {
	background-attachment: fixed;
	background-image: url()
	}
}



#underline {
	border-bottom: 10px solid yellow;
	
}

#this-is {
	float: left;
	font: 50px gray;
	font-family: 'Playfair Display', serif;
	position: fixed;
	margin: 100px;
}
.blurb {
	margin: auto;
	font: 50px gray;
	font-family: 'Playfair Display', serif;
	border-bottom: 10px solid yellow;
}
.feature {
	margin: auto;
	padding-bottom: 200px;
	font: 40px gray;
	line-height: 2px;
	color: rgba(0,0,0,0.6);
	}

.box {
	margin: 100px;
	border: 3px double gray;
	width: 200px;
	height: 200px;	
	}






#main_nav {
	float: right;
	width: 60%;
}








#contact article {
	width: 70%;
	text-align: center;
	margin: auto;
}



#about_section {
background-color: gray;
height: 1000px;
font-family: 'Special Elite', cursive;

text-align: center;
}


nav ul {

	float: left;
	list-style-type: none;
}

*/
