body { 
	margin: 0;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 15px;
}

#logo {
	font-weight: bolder;
	font-style: italic;
	font-family: 'Playfair Display', serif;
	text-align: center;	
	letter-spacing: -5px;
	float: left;
}

a {
	margin: auto;
	display: block;
	border: 1px black solid;
	width: 100px;
	text-decoration: none;
	text-align: center;
	color: black;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: lowercase;
}

a:hover {
	display: block;
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;

}

article {
	font-size: 45px;	
	text-align: center;	
	font-family: 'Playfair Display', serif;
	text-align: center;	
}

#top-header{
	width:100%;
	border-bottom: 5px black solid;
	position: fixed;
	height: 50px;
	background-color: #fff;
}


#main {
	padding-top: 100px;
	width: 100%;
	height: 800px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size: 16px;
	margin: auto;
}	


#about {
	padding-top: 100px;
	width: 100%;
	height: 800px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size: 16px;
	margin: auto;
}	


#inspiration {
	padding-top: 100px;
	width: 60%;
	height: 800px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size: 16px;
	margin: auto;
}



#work {
	padding-top: 100px;
	width: 50%;
	height: 800px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size: 16px;
	margin: auto;
}	

#contact {
	background-color: yellow;
	height: 500px;
	text-align: center;
	width: 100%;
	font-family: 'Alegreya Sans SC', sans-serif;	
	font-size: 16px;
	margin: auto;
	padding-top: 20px;

}	

#contact article {
	width: 70%;
	text-align: center;
	margin: auto;
}


nav {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 15px;
	margin: auto;
}

nav ul {

	float: left;
	list-style-type: none;
}


li {
	list-style-type: none;
	float: left;
}




section {
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Inconsolata', ;
font-family: 'Rock Salt', cursive;
font-family: 'Kristi', cursive;
font-family: 'Voltaire', sans-serif;
font-size: 50px;

}

#about_section {
background-color: gray;
height: 1000px;
font-family: 'Special Elite', cursive;

text-align: center;
}
